# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

beautifulsoup4=4.9.0=py38_0
requests=2.23.0=py38_0
subsceneapi=0.2=pypi_0

# linux

lxml==4.5.0


